[submodule "AIS/Python/Irradiance-Caching.git"]
	path = AIS/Python/Irradiance-Caching.git
	url = ../../Kedreals/Irradiance-Caching.git
[submodule "Mesh_Processing/mp18"]
	path = Mesh_Processing/mp18
	url = git@vccourses.cs.ovgu.de:course/mp18.git
[submodule "CIG/Hearthstone/SabberStone"]
	path = CIG/Hearthstone/SabberStone
	url = https://github.com/ADockhorn/SabberStone.git
